<div class="identity-section">
    <div class="identity-section-header">True Names</div>
    <div class="identity-section-body">
        <div class="identity-item">
            <input id="identity-forename" type="text" placeholder="Forename" maxlength="{{max}}"></input>
        </div>
        <div class="identity-item">
            <input id="identity-midname" type="text" placeholder="Midname" maxlength="{{max}}"></input>
        </div>
        <div class="identity-item">
            <input id="identity-surname" type="text" placeholder="Surname" maxlength="{{max}}"></input>
        </div>
    </div>
</div>
<div class="identity-section">
    <div class="identity-section-header">Aliases</div>
    <div class="identity-section-body">
        <div class="identity-item">
            <input id="identity-alias" type="text" placeholder="Alias" maxlength="{{max}}"></input>
        </div>
    </div>
</div>
