<div class="center-column">
    {{#if characters.length}}
    <div class="character-list-header">
        Characters
    </div>
    <div class="character-list">
        {{#each characters}}
        <a href="/client?character={{this.character.uuid}}" class="character-item clickable">
            {{#each this.infos}}
            <div class="character-item-info">{{this}}</div>
            {{/each}}
        </a> {{/each}}
    </div>
    {{/if}}
    <a href="/creation" class="character-create clickable">Create New Character</a>
</div>