<html>

<head>
  <title>Twisted MUD Account</title>

  <link rel="stylesheet" href="stylesheets/global.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/auth.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/account.css" type="text/css" />
</head>

<body>
  <div class="view column" background="grey_1">
    {{{topBar}}}
    <div class="section header_2" background="purple">
      {{account.name}}'s Account
    </div>
    <div class="box" background="grey_2">
      <div class="section header_2" background="green">Information</div>
      <div class="row section" background="grey_2">
        <div class="section box" background="grey_3">
          Hello There!<br> This is the accounts page!
        </div>
        <div class="section box" background="grey_3">
          Id: {{account.id}}<br> Name: {{account.name}}<br> Email: {{account.email}}
        </div>
      </div>
    </div>
    <div class="box" background="grey_2">
      <div class="section header_2" background="green">Characters</div>
      <!-- The button that leads to the create Character page -->
      <a href="/account/create">
        <div class="section box clickable" background="blue">
          <div class="header_3" id="createCharacter">Create New Character</div>
        </div>
      </a>
      <!-- The list of all the character elements -->
      <div class="character-list">
        {{#account.characters}}
        <a class="character-item" href="/client?character={{id}}">
          <div class="box section clickable" background="grey_3">
            <div class="header_2">{{name.fullName}}</div>
            <div class="">{{speciesSex.species}} - {{speciesSex.sex}}</div>
          </div>
        </a>
        {{/account.characters}}
      </div>
    </div>
  </div>

  <!-- loading the neccessary javascripts -->
  <script src="/javascripts/auth.js"></script>
</body>

</html>
