<div class="tile-grid">
</div>
<div class="window-bar">
    <div class="window-menu">
        <div class="window-menu-button clickable">Windows</div>
        <div class="window-menu-selection"></div>
    </div>
    <div class="windows-active"></div>
</div>