<div class="panel-view-container">
    <div class="panel-view"></div>
</div>
<div class="panel-grid">
</div>
<div class="panel-bar">
    <div class="panel-menu">
        <div class="panel-menu-button clickable">Panels</div>
        <div class="panel-menu-selection"></div>
    </div>
    <div class="panel-active"></div>
</div>