<div id="login-container" class="input-container">
    <div class="input-title">Login</div>
    <form>
        <div class="field-container">
            <div class="field-title">Email</div>
            <input id="login-email" type="text" name="email">
        </div>
        <div class="field-container">
            <div class="field-title">Password</div>
            <input id="login-password" type="password" name="password">
        </div>
        <div class="button-container">
            <input id="login-button" type="button" name="create-account" value="Login"></input>
        </div>
    </form>
</div>
<div id="create-account-container" class="input-container">
    <div class="input-title">Create Account</div>
    <form>
        <div class="field-container">
            <div class="field-title">Username</div>
            <input id="create-username" type="text" name="username">
        </div>
        <div class="field-container">
            <div class="field-title">Email</div>
            <input id="create-email" type="email" name="email">
        </div>
        <div class="field-container">
            <div class="field-title">Password</div>
            <input id="create-password" type="password" name="password">
        </div>
        <div class="field-container">
            <div class="field-title">Confirm Password</div>
            <input id="create-confirm-password" type="password" name="confirm-password">
        </div>
        <div class="button-container">
            <input id="create-button" type="button" name="create-account" value="Create Account"></input>
        </div>
    </form>
</div>
