<html>

<head>
  <title>{{fullName}} - Nexus Mud</title>
  <link rel="stylesheet" href="stylesheets/global.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/auth.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/client.css" type="text/css" />

  <body>
    <!-- The view will flexibl adjust the page elements -->
    <div class="view" background="grey_1">
      <!-- The top bar display -->
      {{{topBar}}}
      <!-- Contains the stats -->
      <!-- 
      <div id="stat-panel" class="box section tight" background="grey_2">
        <div id="health-info" class="stat-item section tight">
          <div class="stat-item-title">Health</div>
          <progress class="stat-bar" id="healthBar" value="100" max="100"></progress>
        </div>
        <div id="stamina-info" class="stat-item section tight">
          <div class="stat-item-title">Stamina</div>
          <progress class="stat-bar" id="staminaBar" value="100" max="100"></progress>
        </div>
        <div id="focus-info" class="stat-item section tight">
          <div class="stat-item-title">Focus</div>
          <progress class="stat-bar" id="focusBar" value="100" max="100"></progress>
        </div>
        <div id="mana-info" class="stat-item section tight">
          <div class="stat-item-title">Mana</div>
          <progress class="stat-bar" id="manaBar" value="100" max="100"></progress>
        </div>
      </div>
      -->
      <!-- Holds all of the main UI elements -->
      <div id="main-panel" background="grey_2">
        <div id="main-left-panel" class="panel section-compact">
          <div id="chat-panel"></div>
        </div>
        <div id="main-right-panel" class="panel section-compact">
          <div id="location-panel" class=""></div>
          <div id="action-panel" class=""></div>
        </div>
      </div>
      <!-- Holds buttons that bring up windows (such as inventory) -->
      <div id="bottom-bar">

      </div>
    </div>

    <!-- loading the neccessary javascripts -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="javascripts/built/client.js"></script>

  </body>

</html>
