<html>

<head>
  <title>Client - Nexus Mud</title>
  <link rel="stylesheet" href="stylesheets/global.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/auth.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/client.css" type="text/css" />

  <body>
    <div class="view column" background="grey_1">
      {{{topBar}}}
    </div>
    <!-- loading the neccessary javascripts -->
    <script type="text/javascript" src="javascripts/auth.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="javascripts/client.js"></script>
  </body>

</html>
