<html>

<head>
    <script type='text/javascript' src="javascripts/lib/jquery-3.0.0.min.js"></script>
    <script src="javascripts/auth.js"></script>

    <link rel="stylesheet" href="stylesheets/global.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/auth.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/index.css" type="text/css" />

    <body>
        {{{topBar}}}
        <div class="view column" background="grey_1">
            <div class="section header_2" background="purple">
                Nexus MUD Homepage
            </div>
        </div>
    </body>

</html>
