<html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans" rel="stylesheet">

    <body>
        <div class="view column" background="grey_1">
            {{{topBar}}}
            <div class="section header_2" background="purple">
                Nexus MUD Homepage
            </div>
        </div>
        <!-- loading the neccessary javascripts -->
        <script src="javascripts/built/index.js"></script>
    </body>

</html>
