div.attribute
{
	width: 100px;
	padding: 0px;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 1.0);
	text-align: center;
}
div.attribute-family
{
	padding: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: auto;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, .4);
	
	border-color: transparent;
	border-style: solid;
	border-width: 3px;
}
div.attribute-family:hover
{
	border-left-color: white;
	border-right-color: white;
}
div.attribute-family.selected
{
	border-color: white;
}

div.attribute-tree
{
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	right: 0;
	left: 0
}
#species-sex-selection 
{
	max-height: 30%;
	overflow-y: auto;
}
div.species-item
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	
	margin: 2px;
	
	border-color: transparent;
	border-style: solid;
	border-width: 3px;
}
div.species-item-sexes
{
	flex: 1;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
div.sex-item
{
	box-sizing: border-box;
	width: 70px;
	text-align: center;
	margin: 1px;
	
	border-color: transparent;
	border-style: solid;
	border-width: 3px;
}
div.sex-item:hover
{
	border-left-color: white;
	border-right-color: white;
}
div.sex-item.selected
{
	border-color: white;
}
div.species-item.selected
{
	border-color: white;
}
div.species-item .title
{
	flex: 0;'
}
div.species-item:hover
{
	border-left-color: white;
	border-right-color: white;
}