div.info-item-title {
  width: 100%;
  text-align: center;
}

div.info-panel {}

div.stat-panel {
  display: flex;
  flex-direction: row;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

progress#healthBar::-webkit-progress-value {
  background: #FF0000;
}

progress#staminaBar::-webkit-progress-value {
  background: #00FF00;
}

progress#focusBar::-webkit-progress-value {
  background: #FFFF00;
}

progress#manaBar::-webkit-progress-value {
  background: #0000FF;
}
