.view {
    display: flex;
    flex-direction: column;
}

.panel-view-container {
    flex: 0 0 0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.panel-view {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.panel-grid {
    flex: 1 1 0px;
}

.panel-bar {
    display: flex;
    flex: 0 1 auto;
    background-color: rgba(255, 255, 255, 0.1);
}

.panel-menu-button {
    padding: 0px 8px;
    background-color: rgba(255, 255, 255, 0.1);
    flex: 0 1 auto;
}

.panel-active {
    flex: 1 1 0px;
}

.panel {
    background-color: rgba(255, 255, 255, 0.1);
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.panel-movable {
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
}

.panel-handle {
    background-color: rgba(255, 255, 255, 0.1);
    flex: 0 1 auto;
    padding: 2px 8px;
}

.panel-body {
    flex: 1 1 0px;
}

.panel-movable .panel-body {
    margin: 2px;
}