div#main-panel {
  flex: 1 1;
  display: flex;
}

div.panel {
  flex: 1 1 0px;
  display: flex;
  flex-direction: row;
}

div#main-left-panel {}

div#main-right-panel {
  display: flex;
  flex-direction: column;
}

div.stat-item-title {
  text-align: center;
}

div#stat-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.stat-item {
  flex: 0 0 content;
}

div#chat-panel {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

div#location-panel {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

div#action-panel {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

div#item-panel {}

div#bottom-bar {}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

progress#healthBar::-webkit-progress-value {
  background: #FF0000;
}

progress#staminaBar::-webkit-progress-value {
  background: #00FF00;
}

progress#focusBar::-webkit-progress-value {
  background: #FFFF00;
}

progress#manaBar::-webkit-progress-value {
  background: #0000FF;
}
