<div class="classification-info species-info hidden" id="classification-info-{{species.id}}">
  <div class="classification-title section compact header_3" background="purple">
    {{species.name.plural}}
  </div>
  <div class="section compact">
    <div class="section compact header_4" background="blue">
      Introduction
    </div>
    <div class="section compact">
      {{{species.documentation}}}
    </div>
  </div>
  <div class="section compact">
    <div class="sex-info-container-title section compact header_4" background="blue">
      Sex Descriptions
    </div>
    <div class="sex-info-container-body section compact">
      {{{sexInfos}}}
    </div>
  </div>
</div>
