div.stats-view {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  padding: 2px;
}

div.stats-bars {
  flex: 1 1 0px;
}

div.stats-attributes {
  flex: 1 1 0px;
  overflow-y: auto;
}

div.stat-attribute {
  display: flex;
  flex-direction: row;
  padding: 2px;
  text-shadow: black 0px 0px 10px;
}

div.stat-attribute-title {
  flex: 0 1 0px;
  padding-left: 4px;
  padding-right: 4px;
}

div.stat-attribute-value {
  flex: 0 1 0px;
  padding-left: 4px;
  padding-right: 4px;
}
