div.chat-view {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  position: relative;
}

div.chat-content {
  flex: 1 1 0px;
  overflow-y: auto;
}

div.chat-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
}

div.chat-history-item {
  flex: 0 0 auto;
  margin: 1px;
  display: flex;
  flex-direction: row;
}

div.chat-history-source {
  padding: 2px;
  padding-right: 8px;
  padding-left: 8px;
  min-width: 0px;
  text-align: center;
}

.chat-history-content {
  padding: 2px;
  flex: 7 1 0px;
  min-width: 0px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

div.chat-input {
  margin: 1px;
  display: flex;
}

.chat-input-text {
  font-family: Arial;
  flex: 1 1 0px;
  resize: none;
  min-width: 0px;
  padding: 4px;
  margin: 0px;
  border: none;
}

div.chat-characters {
  position: absolute;
  top: 20px;
  right: 0px;
}

div.chat-characters-count {
  font-weight: bold;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
