<div id="creation-tab-{{id}}" class="creation-tab clickable" data-form="creation-form-{{id}}" data-complete="false">
    <div class="creation-tab-name">{{name}}</div>
    <div class="creation-tab-status"></div>
</div>
