<div class="panel panel-movable">
    <div class="panel-handle">
        <div class="panel-handle-name">{{name}}</div>
        <div class="panel-handle-minimize clickable">_</div>
        <div class="panel-handle-close clickable">X</div>
    </div>
    <!-- The body will be placed at the end -->
</div>