<div class="creation-tabs">
    <div id="creation-tab-classification" class="creation-tab">
        <div class="creation-tab-name">Classification</div>
        <div class="creation-tab-status"></div>
    </div>
    <div id="creation-tab-descriptors" class="creation-tab">
        <div class="creation-tab-name">Descriptors</div>
        <div class="creation-tab-status"></div>
    </div>
    <div id="creation-tab-attributes" class="creation-tab">
        <div class="creation-tab-name">Attributes</div>
        <div class="creation-tab-status"></div>
    </div>
    <div id="creation-tab-identity" class="creation-tab">
        <div class="creation-tab-name">Identity</div>
        <div class="creation-tab-status"></div>
    </div>
</div>
<div class="creation-forms">
    <div id="creation-form-classification" class="creation-form"> </div>
    <div id="creation-form-descriptors" class="creation-form"> </div>
    <div id="creation-form-attributes" class="creation-form"> </div>
    <div id="creation-form-identity" class="creation-form"> </div>
</div>
