<div class="creation-control">
    <div class="creation-tabs">{{{tabs}}}</div>
    <div class="creation-buttons">
        <div id="creation-button-next" class="creation-button clickable">Next</div>
        <div id="creation-button-finalize" class="creation-button clickable hidden">Finalize</div>
    </div>
</div>
<div class="creation-forms">
    {{{forms}}}
</div>
