<div class="attribute-selection">
    <div class="attribute-selection-tree">
        {{{tree}}}
    </div>
    <div class="attribute-selection-points">
        {{points}}
    </div>
</div>
<div class="attribute-documentation">
    <div class="attribute-documention-help">
        {{{help}}}
    </div>
    <div class="attribute-documention-information">
        {{{information}}}
    </div>
</div>
